@import "variables.scss";

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
    position: relative;
    margin-bottom: -10vh;
}

.contenedor__menu__ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: $verde-oscuro;
    opacity: 0;
    transform: translate(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    transition: all 1s ease-in;
}

.contenedor__menu__ul-active {
    opacity: 1;
    transform: translate(0%);
}

.link-menu {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
    color: white;
}

.contenedor__burger {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-40px, 55px);
    cursor: pointer;
}

.line1 {
    background-color: black;
    height: 3px;
    width: 30px;
    margin-bottom: 5px;
    border-radius: 100px;
    transition: all 0.5s ease;
}

.line2 {
    background-color: black;
    height: 3px;
    width: 30px;
    margin-bottom: 5px;
    border-radius: 100px;
    transition: all 0.1s ease;
}

.line3 {
    background-color: black;
    height: 3px;
    width: 30px;
    border-radius: 100px;
    transition: all 0.5s ease;
}

.line1-active {
    background-color: white;
    transform: rotate(-45deg) translate(-4px, 0px);
}

.line2-active {
    // transform: translate(100%);
    // opacity: 0;
    display: none;
}

.line3-active {
    background-color: white;
    transform: rotate(45deg) translate(-5px, -2px);
}

.contenedor__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contenedor__logo__logo {
    transform: translate(0px, 12px);
    width: 30px;
    height: auto;
}

.contenedor__logo__nombre {
    font-weight: bold;
    transform: translate(10px, 10px);
}

/* IPAD */

@media (min-width: 768px) and (max-width: 991.98px) {
    .contenedor__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transform: translate(30px);
    }

    .contenedor__burger {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-60px, 55px);
        cursor: pointer;
    }
}

/* COMPUTADORA CHICA */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .contenedor__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transform: translate(30px);
    }

    .contenedor__burger {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-60px, 55px);
        cursor: pointer;
    }

    .line1 {
        height: 4px;
    }

    .line2 {
        height: 4px;
    }

    .line3 {
        height: 4px;
    }
}

/* COMPUTADORA GRANDE */

@media (min-width: 1200px) {
    .contenedor__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transform: translate(30px);
    }

    .contenedor__burger {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-60px, 55px);
        cursor: pointer;
    }
}
