@import "variables.scss";

.superalimento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 100px 25px 100px 25px;
}

.superalimento__frase--moringa {
    -webkit-text-stroke: 1px $verde-oscuro;
    color: transparent;
    font-size: 28px;
    margin-bottom: 0px;
}

.superalimento__frase--moringa h2 {
    margin-top: 0px;
}

.superalimento__frase--igual,
.superalimento__frase--superalimento {
    font-size: 28px;
    color: $verde-oscuro;
    margin-top: -40px;
}

.superalimento__vitaminas {
    color: $verde-oscuro;
}

.contenedor__videos {
    margin-bottom: 50px;
}

.contenedor__videos__h2 {
    color: black;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 50px;
}

.contenedor__videos__video1 {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin-bottom: 20px;
}

.video1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.contenedor__videos__video2 {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.video2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* IPAD */

@media (min-width: 768px) and (max-width: 991.98px) {
    .superalimento__vitaminas {
        margin: 0px 10%;
    }

    .superalimento {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 100px 25px 100px 25px;
    }

    .superalimento__frase--moringa h2 {
        margin: 0px;
    }
}

/* COMPUTADORA CHICA */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .superalimento__vitaminas {
        margin: 0px 10%;
    }

    .superalimento {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 100px 25px 100px 25px;
    }

    .superalimento__frase--moringa h2 {
        margin: 0px;
        font-size: 64px;
    }

    .superalimento__frase--igual h2,
    .superalimento__frase--superalimento h2 {
        font-size: 64px;
    }

    .superalimento__vitaminas {
        font-size: 18px;
    }
}

/* COMPUTADORA GRANDE */

@media (min-width: 1200px) {
    .superalimento__vitaminas {
        margin: 0px 10%;
    }

    .superalimento {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 100px 25px 100px 25px;
    }

    .superalimento__frase--moringa h2 {
        margin: 0px;
        font-size: 64px;
    }

    .superalimento__frase--igual h2,
    .superalimento__frase--superalimento h2 {
        font-size: 64px;
    }

    .superalimento__vitaminas {
        font-size: 18px;
        word-spacing: 5px;
    }
}
