.foto__final {
    background-image: url(../imagenes/Ingrediente-Moringa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

/* COMPUTADORA GRANDE */

@media (min-width: 1200px) {

    .foto__final {
    padding: 200px;
}

}